@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

body {
  font-family: "Merriweather", serif;
}

.hero-background {
  background-image: url(./assets/media/bg_media/interno_ristorante.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  opacity: 0.8;
}

.mynav-navcontainer {
  min-width: 0;
}

.mynav-nav {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
}

.mynav-list {
  list-style: none;
}

.mynav-li {
  min-width: 100px;
}
