@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

body {
  font-family: "Merriweather", serif;
}

.hero-background {
  background-image: url(./assets/media/bg_media/interno_ristorante.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  opacity: 0.8;
}
