.hero-background {
  background-image: url(./assets/media/bg_media/interno_ristorante.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
